<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    $(function(){
      $("#buchb").click(function(event) {
        alert('buchen');
        //Abschicken und Seite neu laden unterbinden
        event.preventDefault();
        neuP = <%= fahrt.plaetze%>;
        neuP -= 1;

        var newFahrt = {
          start: '<%= fahrt.start%>',
          ziel: '<%= fahrt.ziel%>',
          plaetze: neuP,
          u_id: '<%= fahrt.u_id%>'
        };
        $.ajax({
          type: 'PUT',
          host: 'localhost',
          url: '/fahrten/' + <%= fahrt.id %> ,
          contentType: 'application/json',
          data: JSON.stringify(newFahrt),
          success: function(newFahrt){
            $('#overlay').fadeIn(400,
              function(){
                $('#modal_form')
                  .css('display', 'block')
                  .animate({opacity: 1, top: '50%'}, 200);
              });

              $('#modal_close, #overlay').click( function(){
		              $('#modal_form')
			               .animate({opacity: 0, top: '45%'}, 200,
				                 function(){
					                      $(this).css('display', 'none');
					                      $('#overlay').fadeOut(400);
				                          }
			                        );
                              window.location = "http://localhost:3001/search";
	            });
          },
          error: function(xhr, options, e) {
          $('#mel').html(e);
          }
        });
        });
      });
    </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mid">
        <div id="fdata">
              <ul class="list">
                <p> Augewaehlte Fahrt</p>
                <hr>
                  <li>Start: <%= fahrt.start%> </li><br>
                  <li>Ziel: <%= fahrt.ziel %> </li><br>
                  <li>Plaetze: <%= fahrt.plaetze %> </li><br>
              </ul>
            <ul id="lid">
              <p>Kontaktdaten des Anbieters</p>
              <hr>
                <li>Name: <%= users.nachname%> </li><br>
                <li>Vorname: <%= users.vorname %> </li><br>
                <li>Email: <%= users.email %> </li><br>
                <li>Telefon: <%= users.tel %> </li><br>
                <li>Handy: <%= users.mobil %> </li><br>
                <li>Fahrzeug: <%= users.car %> </li><br>
            </ul>
            <form id="buch">
                <label class="ser" for="mail">Ihre Email</label><br>
                <input type="text" id="mail" name="mail">
                <input type="submit" id="buchb" name="ko" value="buchen">
            </form>
        </div>
    </div>

    <!-- FENSTER -->

    <div id="modal_form">
          <span id="modal_close">X</span>
                <p id="mel">
                    Fahrt wurde gebucht! <br>
                    Sie kriegen eine Bestätigung per Email <br>
                </p>
    </div>
    <div id="overlay"></div>

<footer>
    Copyright Igelex
</footer>
<script type="text/javascript">
  $(function(){
    $("#buchb").click(function(event) {
      event.preventDefault();
      alert('will send massage');
      alert($('#mail').val());
      var message={
        to: $('#mail').val(),
        start: '<%= fahrt.start %>',
        ziel: '<%= fahrt.ziel %>',
        plaetze: '<%= fahrt.plaetze %>',
        vorname: '<%= users.vorname %>',
        nachname: '<% users.nachname %>',
        email: '<%= users.email %>',
        tel: '<%= users.tel %>',
        handy: '<%= users.mobil %>',
        car: '<%= users.car %>'
      };

      $.ajax({
        type: 'POST',
        host: 'localhost',
        url: '/send',
        contentType: 'application/json',
        data: JSON.stringify(message),
        success: function(data){
          alert(data);
        }
      });
    });
  });
</script>
</body>

</html>
