<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mid">
        <div id="uid">
          <p>Ihre Persönliche Daten</p>

            <ul id="udlist">

                <li>Name: <%= user.nachname%> </li><br>
                <li>Vorname: <%= user.vorname %> </li><br>
                <li>Email: <%= user.email %> </li><br>
                <li>Telefon: <%= user.tel %> </li><br>
                <li>Handy: <%= user.mobil %> </li><br>
                <li>Fahrzeug: <%= user.car %> </li>
                <span style="display:none;" id="uid"><%= user.id %> </span><br>

            </ul>

            <form>
                <input type="button" name="submit" onclick="location.href='http://localhost:3001/putuser/<%= user.id %>'" value="Ändern">
                <input type="button" name="submit" id="delu" value="Löschen">
            </form>
        </div>
        <div class="trenner">
            <p id="ihre">Ihre Fahrten: <%= nores%></p>
        </div>

            <% userFahrten.forEach(function(fahrt) { %>
              <div class="users">
                  <ul class="list">
                      <li>Start: <%= fahrt.start%> </li><br>
                      <li>Ziel: <%= fahrt.ziel %> </li><br>
                      <li>Plaetze: <%= fahrt.plaetze %> </li>
                      <li style="display:none;" id="fid"><%= fahrt.id %> </li><br>
                  </ul>
                      <input type="button" name="submit" onclick="location.href='http://localhost:3001/putfahrt/<%= fahrt.id %>'" value="Ändern">
                      <input type="button" name="submit" id="delf" value="Löschen">
              </div>
              <script type="text/javascript">
              $(function(){
              $("#delf").click(function(event) {
                alert("Fahrt löschen");
                alert(<%= fahrt.id %>);
                //Abschicken und Seite neu laden unterbinden
                event.preventDefault();
                $.ajax({
                  type: 'DELETE',
                  host: 'localhost',
                  url: '/fahrten/'+ <%= fahrt.id %>,
                  contentType: 'application/json',
                  success: function(data){
                    $('#mel').html(data);
                    $('#overlay').fadeIn(400,
                      function(){
                        $('#modal_form')
                          .css('display', 'block')
                          .animate({opacity: 1, top: '50%'}, 200);
                      });
                    $('#modal_close, #overlay').click( function(){
                      location.reload();
                    });
                  },
                  error: function(xhr, options, e) {
                  $('#mel').html(e);
                  }
                });
              });
            });
              </script>
              <% }); %>
    </div>

    <!-- FENSTER -->

    <div id="modal_form">
          <span id="modal_close">X</span>
                <p id="mel">
                    Meldung hier
                </p>
    </div>
    <div id="overlay"></div>
<footer>
    Copyright Igelex
</footer>
<script type="text/javascript">
$(function(){
  $("#delu").click(function(event) {
    alert("Delete User");
    //Abschicken und Seite neu laden unterbinden
    event.preventDefault();
    $.ajax({
      type: 'DELETE',
      host: 'localhost',
      url: '/users/'+ <%= user.id %>,
      contentType: 'application/json',
      success: function(data){
        alert(data);

        $('#mel').html(data);
        $('#overlay').fadeIn(400,
          function(){
            $('#modal_form')
              .css('display', 'block')
              .animate({opacity: 1, top: '50%'}, 200);
          });
          $('#modal_close, #overlay').click( function(){
            window.location.href='http://localhost:3001';
          });
      },
      error: function(xhr, options, e) {
      $('#mel').html(e);
      }
    });
  });
});
</script>
</body>

</html>
