<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mid">
        <div id="uid">
          <p>Ihre Persönliche Daten</p>

            <ul id="udlist">

                <li>Name: <%= user.nachname%> </li><br>
                <li>Vorname: <%= user.vorname %> </li><br>
                <li>Email: <%= user.email %> </li><br>
                <li>Telefon: <%= user.tel %> </li><br>
                <li>Handy: <%= user.mobil %> </li><br>
                <li>Fahrzeug: <%= user.car %> </li><br>

            </ul>

            <form>
                <input type="button" name="submit" onclick="location.href='http://localhost:3001/putuser/24'" value="Ändern">
                <input type="button" name="submit" onclick="location.href='http://localhost:3001/userdel/24'" value="Löschen">
            </form>
        </div>
        <div class="trenner">
            <p id="ihre">Ihre Fahrten: <%= nores%></p>
        </div>

            <% userFahrten.forEach(function(fahrt) { %>
              <div class="users">
                  <ul class="list">
                      <li>Start: <%= fahrt.start%> </li><br>
                      <li>Ziel: <%= fahrt.ziel %> </li><br>
                      <li>Plaetze: <%= fahrt.plaetze %> </li><br>
                  </ul>
                      <input type="button" name="submit" onclick="location.href='http://localhost:3001/putfahrt/<%= fahrt.id %>'" value="Ändern">
                      <input type="button" name="submit" onclick="location.href='http://localhost:3001/fahrtdel/<%= fahrt.id %>'" value="Löschen">
              </div>
              <% }); %>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
